---
import PageLayout from "../../../layouts/PageLayout.astro";
---

<PageLayout>
  <main class="container">
    <h1>Friendzone app</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, ea!</p>
  </main>
</PageLayout>
