@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Roboto+Mono&display=swap");

:root {
  --color-accent: #ffd4b5;
  --color-background: #fefdfc;
  --color-text: #4f3f38;
  --color-title: #2d1a08;
  --color-link: #b86d38;
  --color-code: #feeedb;

  --shadow1: 0 3px 1rem rgba(0, 0, 0, 0.5);

  font-family: "IBM Plex Sans", "Roboto Mono", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #b5f4ff;
    --color-background: #111116;
    --color-text: #acabbb;
    --color-title: #ebeaf8;
    --color-link: #cfb1f7;
    --color-code: #2e2d3f;
  }
}

@font-face {
  font-family: "Iosevka";
  src:
    local("Iosevka Mono"),
    local("Iosevka Nerd Font"),
    url("../../public/fonts/iosevka-term-medium.woff2") format("woff");
}
@font-face {
  font-family: "Iosevka";
  src:
    local("Iosevka Mono"),
    local("Iosevka Nerd Font"),
    url("../../public/fonts/iosevka-term-regular.woff2") format("woff");
}

body,
html {
  margin: 0;
  font-size: 17px;
  line-height: 1.7em;
  background: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
  margin: 1em 0;
}

h1 {
  font-size: 2.2rem;
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

p {
  margin: 1em 0;
}

a {
  color: var(--color-link);
}

img {
  max-width: 100%;
  height: auto;
}
