---
import Video from "./Video.astro";
---

<div class="wrapper container">
  <h1>Autoarrange windows</h1>
  <Video src="/assets/apps/snap/assets/videos/arrange-windows.mp4" />
</div>

<style>
  .wrapper {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h1 {
    margin-bottom: 24px;
  }
</style>
