---
import Video from "./Video.astro";
---

<div class="wrapper container">
  <h1>Shortcuts</h1>
  <p>
    Utilize simple shortcuts to move active windows across your screen. Snap's
    intuitive interface means you spend less time adjusting windows and more
    time focusing on what matters.
  </p>

  <Video src="/assets/apps/snap/assets/videos/shortcuts.mp4" />
</div>

<style>
  .wrapper {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h1 {
    margin-bottom: 24px;
  }
</style>
