---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <main class="container">
    <h1>How did you get in here?</h1>
    <img src="/assets/internal/404.jpg" />
  </main>
</PageLayout>
<style>
  img {
    width: 200px;
  }
</style>
