---
const today = new Date();
---

<footer>
  <div class="container">
    &copy; {today.getFullYear()} Kolesnikov Egor. All rights reserved.
  </div>
</footer>
<style>
  footer {
    text-align: center;
    padding: 10px 0;
    font-size: 0.8rem;
  }
</style>
